<%- include ('./partials/header.ejs') %>
<head>
  <link
    rel="shortcut icon"
    href="http://cdn.onlinewebfonts.com/svg/img_233159.png"
  />
</head>

<title>Dashboard</title>
<script
  src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
  data-auto-replace-svg="nest"
></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<style>
  body {
    background-color: white;
    max-width: 100%;
    overflow-x: hidden;
  }
  #card {
    width: 200px;
    height: 100px;
    overflow-y: hidden;
    border: 0.1px solid rgb(243, 243, 243);
    border-top-left-radius: 20px;
    box-shadow: 5px 5px 5px lightgrey;
  }
  .cardstyle {
    flex-direction: row;
    margin-right: 20px;
    margin-bottom: 50px;
  }
  .firstContainer {
    position: relative;
    left: 250px;
    width: "100%";
  }
  #graphCard {
    /* width: 16rem; */
    margin-right: 70px;
    border: 0.1px solid rgb(243, 243, 243);
    border-top-left-radius: 20px;
    box-shadow: 5px 5px 5px lightgrey;
    height: 400px;
    width: 350px;
  }
  #usersCard {
    /* width: 18rem; */
    margin-top: 40px;
    height: 500px;
    width: 580px;
    margin-right: 40px;
    border: 0.1px solid rgb(243, 243, 243);
    border-top-left-radius: 20px;
    box-shadow: 5px 5px 5px lightgrey;
  }
</style>

<div class="firstContainer">
  <div class="row">
    <%for(var i=0; i< 3; i++){%>
    <div class="col-sm-3 cardstyle">
      <div class="card" id="card">
        <div class="card-body">
          <h6 class="card-title">Special</h6>
          <h5 class="card-text" style="color: grey">5525</h5>
          <h7
            style="
              color: lightgray;
              position: relative;
              bottom: 35;
              font-size: small;
            "
            >Last: 30.4k</h7
          >
          <span style="color: lightgrey">
            <i
              class="fab fa-accusoft fa-3x"
              style="position: relative; left: 30px; bottom: 50px"
            ></i
          ></span>
        </div>
      </div>
    </div>
    <%}%>
  </div>
  <div class="row">
    <div class="card" id="graphCard">
      <div class="card-body">
        <span style="position: relative; top: 0; bottom: 20px"
          >Top Movies on Vidly</span
        >
        <canvas id="myChart1" style="width: 100%; height: 100%; margin-top: 0">
        </canvas>
      </div>
    </div>

    <div class="card" id="graphCard">
      <div class="card-body">
        <span style="position: relative; top: 0; bottom: 20px"
          >Top Genres on Vidly</span
        >
        <canvas id="myChart2" style="width: 100%; height: 100%"></canvas>
      </div>
    </div>

    <div class="card" id="graphCard">
      <div class="card-body">
        <canvas id="myChart3" style="width: 100%; height: 100%"></canvas>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card" id="usersCard">
      <div class="card-body">
        <label>Top Movies</label>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Mandle</th>
            </tr>
          </thead>
          <tbody>
            <%var i=1%> <%moviesList.forEach(list=>{%> <%console.log(list)%>
            <tr>
              <td><%=i%><%i++%></td>
              <td><%=list.title%></td>
              <td><%=list.rentedCustomers.length%></td>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  const tableclass = document.getElementsByClassName("table");
  console.log(tableclass);
  var xLabels = [];
  var yLabels = [];
  const xLabels2 = [];
  const yLabels2 = [];
  var data = [];
  async function getbardata() {
    const response = await fetch(
      "http://localhost:3027/crm/crm/dashboard/data"
    );
    data = await response.json();
    // console.log(data, "data");
  }
  var genredata = [];
  async function getgenredata() {
    const response = await fetch(
      "http://localhost:3027/crm/crm/dashboard/genredata"
    );
    genredata = await response.json();
    // console.log(genredata);
  }

  chart1Data();

  async function chart1Data() {
    await getbardata();
    data.forEach((list) => {
      var str = list.title;
      var matches = str.match(/\b(\w)/g);
      var acronym = matches.join("");
      // console.log(acronym);
      xLabels.push(acronym);
      yLabels.push(list.rentedCustomers.length);
    });
    const ctx = document.getElementById("myChart1").getContext("2d");
    const myChart = new Chart(ctx, {
      type: "bar",
      data: {
        labels: xLabels,
        datasets: [
          {
            label: "#1 Movie",
            data: yLabels,
            backgroundColor: [
              "rgba(255, 99, 132, 0.7)",
              "rgba(54, 162, 235, 0.7)",
              "rgba(255, 206, 86, 0.7)",
              "rgba(75, 192, 192, 0.7)",
              "rgba(153, 102, 255, 0.7)",
              "rgba(255, 159, 64, 0.7)",
            ],
            borderColor: [
              "rgba(255, 99, 132, 1)",
              "rgba(54, 162, 235, 1)",
              "rgba(255, 206, 86, 1)",
              "rgba(75, 192, 192, 1)",
              "rgba(153, 102, 255, 1)",
              "rgba(255, 159, 64, 1)",
            ],
            borderWidth: 1,
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    });
  }

  chart2Data();

  async function chart2Data() {
    await getgenredata();
    // data.forEach((list) => console.log(list));
    console.log(genredata);

    xLabels = Object.keys(genredata);
    yLabels = Object.values(genredata);
    const ctx = document.getElementById("myChart2").getContext("2d");
    const myChart = new Chart(ctx, {
      type: "bar",
      data: {
        labels: xLabels,
        datasets: [
          {
            label: "#1 Movie",
            data: yLabels,
            backgroundColor: [
              "rgba(255, 99, 132, 0.7)",
              "rgba(54, 162, 235, 0.7)",
              "rgba(255, 206, 86, 0.7)",
              "rgba(75, 192, 192, 0.7)",
              "rgba(153, 102, 255, 0.7)",
              "rgba(255, 159, 64, 0.7)",
            ],
            borderColor: [
              "rgba(255, 99, 132, 1)",
              "rgba(54, 162, 235, 1)",
              "rgba(255, 206, 86, 1)",
              "rgba(75, 192, 192, 1)",
              "rgba(153, 102, 255, 1)",
              "rgba(255, 159, 64, 1)",
            ],
            borderWidth: 1,
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: false,
          },
        },
      },
    });
  }
  const ctx = document.getElementById("myChart3").getContext("2d");
  const xValues1 = [3, 5, 4, 5, 6, 5, 4];
  const yValues1 = [
    "sad",
    "sdasd",
    "sdasd",
    "sdasd",
    "sdasd",
    "sdasd",
    "sdasd",
  ];
  var mychart = new Chart(ctx, {
    type: "pie",
    data: {
      labels: xValues1,
      datasets: [
        {
          backgroundColor: [
            "rgba(255, 99, 132, 0.7)",
            "rgba(54, 162, 235, 0.7)",
            "rgba(255, 206, 86, 0.7)",
            "rgba(75, 192, 192, 0.7)",
            "rgba(153, 102, 255, 0.7)",
            "rgba(255, 159, 64, 0.7)",
          ],
          data: yValues1,
        },
      ],
    },
    options: {
      title: {
        display: true,
        // text: "World Wide Wine Production",
      },
    },
  });
  // const
  // const myChart3 = new Chart(ctx, {
  //   type: "polarArea",
  //   data: {
  //     labels: xValues1,
  //     datasets: [
  //       {
  //         label: "Movies vs Genres",
  //         backgroundColor: [
  //           "rgba(255, 99, 132, 0.7)",
  //           "rgba(54, 162, 235, 0.7)",
  //           "rgba(255, 206, 86, 0.7)",
  //           "rgba(75, 192, 192, 0.7)",
  //           "rgba(153, 102, 255, 0.7)",
  //           "rgba(255, 159, 64, 0.7)",
  //         ],
  //         data: [12, 25, 22, 32, 45],
  //       },
  //     ],
  //   },
  //   option: {
  //     title: {
  //       display: false,
  //       text: "BarColor Data",
  //     },
  //   },
  // });
</script>
<%- include ('./partials/footer.ejs') %>
