<%- include ('./partials/header.ejs') %>
<head>
  <title>All Movies</title>
</head>
<script
  src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
  data-auto-a11y="true"
></script>
<style>
  body {
    background-color: white;
    max-width: 100%;
    overflow-x: hidden;
  }

  .tablediv {
    position: relative;
    left: 10%;

    max-width: 80%;
  }
</style>
<body>
  <h1 class="text-center">All Movies</h1>
  <br />
  <div class="tablediv">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col til1" style="width: 10%">#</th>
          <th scope="col til2" style="width: 25%">Title</th>
          <th scope="col til13" style="width: 30%">Genre</th>
          <th scope="col til14" style="width: 20%">Stock</th>
          <th scope="col">Remove</th>
        </tr>
      </thead>
      <tbody>
        <%var i=1;%> <%movies.forEach(list=>{%>
        <tr>
          <td><%=i%><%i++%></td>
          <td><%=list.title%></td>
          <td><%=list.genre%></td>
          <td><%=list.numberInStock%></td>
          <td><i class="fas fa-trash"></i></td>
        </tr>
        <%})%>
      </tbody>
    </table>
  </div>
</body>

<%- include ('./partials/footer.ejs')%>
