<%- include ('./partials/header.ejs') %>
<title>Requested Movies</title>
<style>
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .tablediv {
    position: relative;
    left: 10%;
    max-width: 80%;
  }
</style>
<body>
  <div class="tablediv">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="width: 10%">#</th>
          <th scope="col" style="width: 20%">Title</th>
          <th scope="col" style="width: 20%">Availability</th>
          <th scope="col" style="width: 20%">Request Count</th>
        </tr>
      </thead>
      <tbody>
        <%var i=1%> <%customer.forEach(list=>{%> <%if(list.ismovieCreated){%>
        <tr>
          <th scope="row"><%=i%><%i++%></th>
          <td><%=list.title%></td>
          <td><%if(list.ismovieCreated)%>Yes</td>
          <td><%=list.requestCount%></td>
        </tr>
        <%}%> <%})%>
      </tbody>
    </table>
  </div>
</body>
<%- include ('./partials/footer.ejs') %>
