<%- include ('./partials/header.ejs') %>
<title>Requested Movies</title>
<style>
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .tablediv {
    position: relative;
    left: 10%;
    max-width: 80%;
  }
</style>
<body>
  <div class="tablediv">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="width: 10%">#</th>
          <th scope="col" style="width: 20%">Title</th>

          <th scope="col" style="width: 20%">Request Count</th>
          <th scope="col" style="width: 20%">Stat</th>
        </tr>
      </thead>
      <tbody>
        <%var i=1%> <%customer.forEach(list=>{%> <%if(!list.ismovieCreated){%>
        <tr>
          <th scope="row"><%=i%><%i++%></th>
          <td><%=list.title%></td>

          <td><%=list.requestCount%></td>
          <td>
            <form action="/crm/crm/requestedMovies" method="POST">
              <input type="hidden" name="_id" value="<%=list._id%>" />
              <button type="submit" class="btn btn-primary btn-sm">
                Remove
              </button>
            </form>
          </td>
        </tr>
        <%}%> <%})%>
      </tbody>
    </table>
  </div>
</body>
<%- include ('./partials/footer.ejs') %>
